/* ======= GENERAL STYLING ======= */
body {
	margin: 0;
}

/* ======= NAVBAR ======= */
#navbar {
	background: #fff;
	overflow: auto;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

#navbar-list {
	display: flex;
	justify-content: flex-end;
	margin: 30px 0px;
}

.navbar-link {
	list-style-type: none;
	margin-right: 30px;
}

.navbar-link a {
	color: #000;
	text-decoration: none;
}

/* ======= WELCOME SECTION ======= */
#welcome-section {
	height: 100vh;
	background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
	
	/* Centers text horizontally and vertically */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* =========================== */
}

#welcome-section h1 {
	margin-bottom: 10px;
}

#welcome-section p {
	margin-top: 0px;
}

/* ======= PROJECTS SECTION ======= */
#projects {
	/* Creates multiple rows of .project-title
	(must also set width of .project-title)  */
	display: flex;
	flex-wrap: wrap;
	/* ========================== */
	justify-content: space-around;
	padding: 60px 40px;
}

.project-title {
	width: 30%;
	margin-bottom: 40px;
	border: 1px solid #330867;
}

.project-image {
	width: 100%;
	display: block;
}

.project-text {
	background: #330867;
	color: #30cfd0;
	text-align: center;
	margin: 0;
	padding: 18px 0px;
}

.project-icon {
	color: #330867;
}

/* ======= CONTACT SECTION ======= */

#contact {
	height: 100vh;
}

