/* ======= GENERAL STYLING ======= */
body {
	margin: 0;
}

/* ======= NAVBAR ======= */
#navbar {
	background: #0b214a;
	overflow: auto;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

#navbar-list {
	display: flex;
	justify-content: flex-end;
	margin: 30px 0px;
	padding: 0;
}

.navbar-link {
	list-style-type: none;
	margin-right: 30px;
}

.navbar-link a {
	color: #fff;
	text-decoration: none;
	font-family: 'Karla', sans-serif;
	font-size: 20px;
}

/* ======= WELCOME SECTION ======= */
#welcome-section {
	height: 100vh;
	background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
	
	/* Centers text horizontally and vertically */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* =========================== */

	color: #fff;
}

#welcome-section h1 {
	margin-bottom: 10px;
	font-family: 'Karla', sans-serif;
	font-size: 60px;
}

#welcome-section i {
	margin-top: 0px;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	padding: 0px 20px;
    border-radius: 7px;
    background: #0b214a3b;
}

/* ======= PROJECTS SECTION ======= */
#projects {
	/* Creates multiple rows of .project-title
	(must also set width of .project-title)  */
	display: flex;
	flex-wrap: wrap;
	/* ========================== */
	justify-content: space-around;
	padding: 60px 40px;
}

.project-title {
	width: 30%;
	margin-bottom: 40px;
	border: 1px solid #330867;
	font-size: 20px;
	text-decoration: none;
}

.project-image {
	width: 100%;
	display: block;
}

.project-text {
	background: #330867;
	color: #30cfd0;
	text-align: center;
	margin: 0;
	padding: 18px 0px;
	font-family: 'Karla', sans-serif;
}

.project-icon {
	color: #330867;
}

/* Projects hover effect */
.project-title:hover .project-icon {
	color: #30cfd0;
}



/* ======= CONTACT SECTION ======= */
#contact {
	background: #30cfd0;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
}

.contact-info {
	flex: 1 0 100%;
	align-self: center;
	margin-top: 15%;
	text-align: center;
}

/* Contact Links */
.contact-info h2 { 
	color: #330867;
	font-family: 'Karla', sans-serif;
	font-size: 50px;
	margin-bottom: 5px;
}

.contact-info > i {
	color: #330867;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}

#contact-links {
	margin-top: 30px;
}

#contact-links .link-container {
	margin-right: 40px;
	text-decoration: none;
	display: inline-block;
}

#contact-links .link-container a {
	color: #330867;
	text-decoration: none;
	transition: transform 500ms;
	display: inline-block;
	font-family: 'Karla', sans-serif;
	font-size: 20px;
}

#contact-links .link-container a:hover {
	transform: translateY(7px);
}

/* Footer */
#contact footer {
	color: #330867;
	align-self: flex-end;
	flex: 1 0 100%;
	border-top: 2px solid #330867;
	display: flex;
	justify-content: space-around;
	font-family: 'Montserrat', sans-serif;
}

/* Alternate way to align contact section */
/*#contact {
	background: #30cfd0;
	height: 100vh;
	position: relative;
}

#contact div {
	position: absolute;
	top: 40;

	width: 100%;
	text-align: center;
	top: 300px;
}

#contact footer {
	position: absolute;
	bottom: 0;
}*/

/* ======= MEDIA QUERIES ======= */

/* ----- NAVBAR ----- */

/* Center navbar links */
@media screen and (max-width: 500px) {
	#navbar-list {
		justify-content: center;
	}

	#navbar-list li:last-child {
		margin-right: 0;
	}
}

/* Set navbar links to column mode */
@media screen and (max-width: 300px) {
	#navbar-list {
		flex-direction: column;
	}

	#navbar-list li {
		margin: 0px 0px 10px 0px;
		text-align: center;
	}
}

/* ----- WELCOME SECTION ----- */
@media screen and (max-width: 600px) {
	#welcome-section h1 {
		font-size: 40px;
	}

	#welcome-section i {
		font-size: 20px;
	}
}

@media screen and (max-width: 350px) {
	#welcome-section h1 {
		font-size: 30px;
	}

	#welcome-section i {
		font-size: 15px;
	}
}





