/* ======= GENERAL STYLING ======= */
body {
	margin: 0;
}

/* ======= NAVBAR ======= */
#navbar {
	background: #fff;
	overflow: auto;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

#navbar-list {
	display: flex;
	justify-content: flex-end;
	margin: 30px 0px;
}

.navbar-link {
	list-style-type: none;
	margin-right: 30px;
}

.navbar-link a {
	color: #000;
	text-decoration: none;
}

/* ======= WELCOME SECTION ======= */
#welcome-section {
	height: 100vh;
	background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}



/* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
